#bios {
	margin-top: 100px;
}

#bios input {
	
	height: 30px;       /* altezza  */
 	width: 15em;        /* larghezza */
 	padding: .5em;
 	margin: .5em;
 	
	color: black;
	text-decoration: 1px 1px 1px #000;
	font-family: Arial, Verdana, sans-serif;
	
 	border: solid thin #882d13;
	-webkit-border-radius: .7em;
	-moz-border-radius: .7em;
	border-radius: .7em;
 	 
}

div #pluto{
	font-family: Arial, Verdana, sans-serif;
	font-size: 20px;
	color: 	#FFCC00;
}